.menu-container {
  position: fixed;
  top: 1.5vh;
  left: 3vw;
  z-index: 300;
}

.menu-button.main {
  font-size: 10vw;
  color: white;
}

.menu-button {
  font-size: 10vw;
  color: black;
}

#dimmed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100vw;
  height: 100vh;
}

#dimmed2 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100vw;
  height: 100vh;
}
