.search-result-message.active {
  display: flex;
  justify-content: center;
  padding: 2vh;
  font-size: 5vw;
}

.search-result-message {
  display: none;
}

.no-result-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-inner {
  text-align: center;
}
