.searchButton-container {
  position: absolute;
  z-index: 10;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none !important;
}

.searchButton {
  width: 55vw;
  height: 15vw;
}