.home-carousel {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.home-carousel-image {
  width: 100vw;
  height: 100vh;
   
}

.slick-dots {
  position: absolute;
  height: 5vh;
  top: 90vh;
}