.header {
  padding-top: 4vh;
  padding-bottom: 2vh;
  display: flex;
  justify-content: center;
}

.header-text {
  border-bottom: 0.3vh solid grey;
  padding-bottom: 0.4vh;
  font-size: 4.5vh;
  font-weight: bold;
}