.cody-delete-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 600;
  width: 100vw;
  height: 100vh;
}

.cody-delete-modal-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 500;
}

.cody-delete-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: solid black 0.5vw;
  width: 90vw;
  height: 50vw;
  z-index: 550;
}

.cody-delete-modal-text {
  font-size: 5vw;
  width: 80%;

}

.cody-delete-modal-button {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 8vw;
}

.hidden {
  display: none;
}