.folder-detail-list-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  justify-items: center;
  margin-top: 5vw;
  row-gap: 3vw;
}

.folder-detail-image {
  border-radius: 3vw;
  border: rgb(178, 178, 178) solid 0.5vw;
  width : 30vw;
  height: 45vw;
  background-position: center;
  object-fit: cover;
  object-position: 50% 50%;
}