.folder-detail-list-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  justify-items: center;
  margin-top: 5vw;
  row-gap: 3vw;
}

.folder-detail-image {
  border-radius: 3vw;
  width : 30vw;
  height: 45vw;
}