.top-codies-list {
  margin-top: 5vh;
}

.top-codies-item {
  position: relative;
}

.top-codies-item-image {
  width: 100vw;
  height: 60vh;
}

.cody-save-button {
  position: absolute;
  right: 1vw;
  top: 0;
}

.top-codies-info-container {
  display: flex;
  justify-content: center;
  margin: 1vh 2vw 5vh;
}

.top-codies-like-button {
  display: flex;
  align-items: center;
}

.top-codies-info-text {
  color: black;
  margin: 0;
}